<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<th:block th:replace="~{/layout/header :: setContent(~{this::content} )}">
 <th:block th:fragment="content">
<h2 class="tit-level1">프로젝트 목록</h2>
		<div class="subConView">
			<!-- 메인 화면  -->
			<div class="conWrap">
				<div class="sectionCon">
					<div class="board_top">
						<div class="col-md-1" style="padding-left: 0px;">
							<div class="selects">
								<select onchange="onBtnClick()" class="state" name="selectState"
									id="selectState">
									<option value="0">전체</option>
									<option value="111">진행전</option>
									<option value="112" selected="selected">진행중</option>
									<option value="113">완료</option>
									<option value="110">중단</option>
								</select>
							</div>
						</div>
						<!-- <div class="col-md-1" style="padding-left: 0px;">
							<input type="submit" value="검색" id="searching" class="btn btn-info" />
						</div> -->
						<!-- 버튼 -->
							<div class="buttonGroup">
								<div class="BtnGroupR">
									<a href="${pageContext.request.contextPath}/project/register"
										class="btn btn-primary" style="margin-bottom: 10px;">프로젝트
										생성</a>
								</div>
							</div>
					</div>
					<!-- 버튼 끝 -->
					<div class="ib_product" style="height: 750px;">
						<script type="text/javascript">
								createIBSheet("mySheet", "100%", "100%");
							</script>
					</div>
				</div>
			</div>
		</div>
	</div>

    </th:block>
</th:block>

<!-- 시트 관련 필수 파일 -->

<script>
	/*Sheet 기본 설정 */
	function LoadPage() {
			mySheet.SetTheme('BLM', 'ModernBlue');
			//아이비시트 초기화
			var initSheet = {};
			mySheet.SetEditable(false);

			initSheet.Cfg = {
				SearchMode : smLazyLoad,
				DeferredVScroll : 1,
	            SizeMode : 1
			};

			initSheet.Cols = [{
				Header : "NO",
				Type : "Int",
				Width : 10,
				SaveName : "ID",
				Align : "Center",
				Hidden : 1
			}, {
				Header : "프로젝트명",
				Type : "Text",
				SaveName : "PROJECT_TITLE",
				MinWidth : 70,
				Align : "Center"
			}, {
				Header : "별칭",
				Type : "Text",
				MinWidth : 30,
				SaveName : "PROJECT_NICKNAME",
				Align : "Center"
			}, {
				Header : "내용",
				Type : "Text",
				MinWidth : 100,
				SaveName : "CONTEXT",
				Wrap : 1,
	            MultiLineText : 1
			}, {
				Header : "주관부서",
				Type : "Text",
				Width : 30,
				SaveName : "TEAM",
				Align : "Center"
			}, {
				Header : "담당자",
				Type : "Text",
				Width : 20,
				SaveName : "NAME",
				Align : "Center"
			}, {
				Header : "계약금액",
				Type : "Int",
				Format : "#,##0",
				Width : 25,
				SaveName : "PAYMENT",
				Align : "Center"
			}, {
				Header : "시작일",
				Type : "Date",
				Width : 30,
				SaveName : "START_DATE",
				Align : "Center"
			}, {
				Header : "종료일",
				Type : "Date",
				Width : 30,
				SaveName : "END_DATE",
				Align : "Center"
			}, {
				Header : "단계",
				Type : "Text",
				Width : 18,
				SaveName : "STATE",
				Align : "Center"
			}  ];
			
	
			IBS_InitSheet(mySheet, initSheet);
			
			mySheet.SetDataLinkMouse("PROJECT_TITLE", 1);
		
			mySheet.SetDataLinkMouse("CONTEXT", 1);
	
			
	}
			function doAction(sAction) {
				switch (sAction) {
				case "search": //조회
				mySheet.LoadSearchData(total);
				break; 
				case "save": //저장
				console.log("저장");
				//저장 시 트랜잭션 변화가 있는 데이터 전부를 보내기 위해 Param 속성을 이용하여 시트의 변화있는 전체 데이터를 전소
				var data = JSON.stringify(mySheet.GetSaveJson());
				mySheet.DoSave("/project/usersave",{// /project/usersave경로를 받는 컨트롤러로 이벤트 발생후의 변경된 결과값을 서버로 보내어 DB에 저장시켜주자
					"Param" : data, "UrlEncode" : 0 }); 
				console.log(data); break;
				}
			}

		window.addEventListener("onload", LoadPage());
</script>
</body>
</html>
