<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<th:block th:replace="~{/layout/header :: setContent(~{this::content} )}">
 <th:block th:fragment="content">

         <h2 class="tit-level1"> 
			새작업
         </h2>
        
        
        <div class="subConView">
					<!-- 메인 화면  -->
					<div class="col-md-6">
						<div class="form-group">
							 <span class="star01">프로젝트명</span>
							 <span id="project_title-no" style="display: none; color: #d92742; font-weight: bold;">입력해주세요</span>
							<div class="formInput">
								<input id="project_title" type="text" class="form-control" th:value="${dto.projectTitle}" required="required" >
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							  <span class="star01">프로젝트 별칭</span>
							  <span id="project_nickname-no" style="display: none; color: #d92742; font-weight: bold;">입력해주세요</span>
							<div class="formInput"> 
							  <input id="project_nickname" type="text" class="form-control" th:value="${dto.projectNickname}" required="required">
							</div>
						</div>
					</div>
					<div class="col-md-3">
	                  <div class="form-group">
	                       <span class="star01">기간</span>
	                       <span id="start_date-no" style="display: none; color: #d92742; font-weight: bold;">입력해주세요</span>
	                     <div class="formInput">
	                        <div id="dateStart" class="dateStart">
	                           <div class="input-group input-daterange date">
	                              <input id="start_date" type="datetime-local" class="form-control" autocomplete="off" th:value="${dto.startDate}" required="required">
	                              <div class="input-group-addon">~</div>
	                              <input id="end_date" type="datetime-local" class="form-control" autocomplete="off" th:value="${dto.endDate}" required="required">
	                           </div>
	                        </div>
	                     </div>
	                  </div>
	               </div>
	               <div class="col-md-3">
						<div class="form-group">
							<span class="">담당자</span>
							<div class="formInput">
							   <select id="manager" class="form-control">
							   </select>	 
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<span class="">주관부서</span>
							<div class="formInput">
							   <select id="team" class="form-control">
						   			<option value="120">미정</option>
									<option value="">--전략사업본부--</option>
									<option value="121">컨설팅사업팀</option>
									<option value="122">스마트CNS팀</option>
									<option value="123">항공정보팀</option>
									<option value="124">항공기술사업팀</option>
									<option value="">--영업본부--</option>
									<option value="125">SI영업팀</option>
									<option value="126">솔루션영업팀</option>
									<option value="127">영업지원팀</option>
									<option value="">--IT사업본부--</option>
									<option value="128">SW개발사업팀</option>
									<option value="129">솔루션사업팀</option>
									<option value="">--기술연구소--</option>
									<option value="130">연구개발1팀</option>
									<option value="131">연구개발2팀</option>
									<option value="">--경영관리본부--</option>
									<option value="132">경영관리팀</option>
									<option value="">--기타--</option>
									<option value="133">기타</option>
							   </select>	 
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<span class="">계약금액(원, 부가세제외)</span>
							<span id="payment-no" style="display: none; color: #d92742; font-weight: bold;">입력해주세요</span>
							<div class="formInput">
							  	<input class="form-control" type="text" id="payment" onkeyup="addCommas(this)" placeholder="0">
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<span class="">단계</span>
							<div class="formInput">
                              <div class="selects">
                                 <select class="form-control"  name="statusCode" th:value="${dto.statusCode}">
                  				  <option th:selected="${dto.statusCode} =='진행전'" value="진행전">진행전</option>
                                    <option th:selected="${dto.statusCode}=='진행중'" value="진행중">진행중</option>
                                    <option th:selected="${dto.statusCode}=='완료'" value="완료">완료</option>
                                    <option th:selected="${dto.statusCode}=='중단'" value="중단">중단</option> 
                                 </select>
                              </div>
                           </div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-group-block">
							<span class="">프로젝트 내용</span>
							<div class="formInput">
							  <textarea class="form-control" rows="10" name="contents" value="프로젝트 내용을 입력해주세요." >[[${dto.contents}]]</textarea>
							</div>
						</div>
					</div>
					<div class="col-md-12 btnArea text-right">
						<button type="submit" id="save" class="btn btn-primary mr-3">저장</button>
				</div>
			</div>
			<!-- .main-section e -->
		</div>
	<!-- .main-section e -->
</div>

    </th:block>
</th:block>

<!-- toTop start -->
<div id="gototop">go to top</div>
<!--// toTop end -->

<script th:inline="javascript">


</script>

<script src="../js/lib/loadAnimation.js"></script>



</body>
</html>
