<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<title>IB Leaders</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="IB Leaders" />
<meta name="Author" content="IB Leaders" />
<meta name="keywords" content="IB Leaders" />

<meta property="og:type" content="website">
<meta property="og:title" content="IB Leaders">
<meta property="og:url" content="http://www.url.co.kr/">
<!-- <meta property="og:image" content=""> -->
<meta property="og:description" content="IB Leaders 업무관리"/>


<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
<meta name='viewport' content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,width=device-width'>

<link rel="apple-touch-icon" sizes="57x57" href="../img_app/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../img_app/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../img_app/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../img_app/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../img_app/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../img_app/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../img_app/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../img_app/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../img_app/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../img_app/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../img_app/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../img_app/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../img_app/favicon/favicon-16x16.png">
<link rel="manifest" href="../img_app/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../img_app/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<script type="text/javascript" language="javascript" src="../js/html5.js"></script>
<!-- Main scripts -->
<script type="text/javascript" language="javascript" src="../js/jquery-2.1.1.js"></script>
<script type="text/javascript" language="javascript" src="../js/bootstrap.js"></script>

<script type="text/javascript" charset="utf-8" src="../js/modernizr.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/platform.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/mobile-detect.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/mobile-detect-modernizr.js"></script>

<!-- Data picker -->
<script type="text/javascript" language="javascript" src="../js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.metisMenu.js"></script>

<script type="text/javascript" language="javascript" src="../js/ui.js"></script>

<!-- jsTree -->
<script type="text/javascript" language="javascript" src="../js/plugins/jsTree/jstree.min.js"></script>

<!-- TouchSpin -->
<script type="text/javascript" language="javascript" src="../js/plugins/touchspin/jquery.bootstrap-touchspin.js"></script>

<!-- confirm -->
<script type="text/javascript" language="javascript" src="../js/plugins/sweetalert/sweetalert.min.js"></script>



<!-- layout css -->
<link rel="stylesheet" type="text/css" href="../css/layout.css">

</head>

<body>


<!-- global loading -->
<div class="data-load">
	<img class="load-out" src="../img_app/load_img_out.png" alt="">
	<img class="load-in" src="../img_app/load_img_inner.png" alt="">
</div>



<!-- wrap start -->
<div id="WRAP">
	<header id="header" class="opaque fixed sub_header">
		<div class="header-anim">
			<div class="header-container">				
				<div class="header-inner">
					<div class="util-cont">
						<a href="#" class="hamburger navbar-minimalize">
							<div class="hamburger-detail">
								<span>line</span>
								<span>line</span>
								<span>line</span>
							</div>
						</a>
					</div>
					<h1 class="brand"><a href="#"><span>IB Leaders</span></a></h1>
					<div class="utils">
						<ul class="menu">							
							<li class="toggle-menu"><a href="#" class="btn-toggle-menu"><span></span></a></li>
						</ul>
					</div>
				</div>				
			</div>
			<div class="logoutArea">
				<div class="username"><p>류슬</p></div>
				<ul>						
					<li>
						<a href="#" title="비밀번호변경">
							<p class="pwModify">비밀번호변경</p>
						</a>
					</li>
					<li>
						<a href="#" title="로그아웃">
							<p class="topLogout">로그아웃</p>
						</a>
					</li>
				</ul>					
			</div>

		</div>
		

	</header>

	<aside id="mobileNav">
		<div class="mobile-nav">
			<div class="mobile-nav-header">
				<h2 class="brand"><a href="#"></a></h2>
				<a href="#" class="btn-toggle-menu active" title="">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
					<path fill-rule="evenodd"  fill="#ffffff" d="M22.008,20.949 L20.960,21.996 L11.004,12.050 L1.048,21.996 L0.082,21.031 L10.038,11.085 L-0.000,1.058 L1.048,0.011 L11.086,10.038 L21.042,0.093 L22.008,1.058 L12.052,11.003 L22.008,20.949 Z"/>
				</svg>
				</a>
				<a href="#" class="mlogoutIco"></a>
			</div>
			<div class="mobile-nav-body">

				<div class="mobileInfo">
					<div class="mobileUser">
						<a href="#">홍길동</a>
					</div>
					<div class="mobileLang">
						<ul>
							<li class="on"><a href="#">사용자관리</a></li>
							<li><a href="#">시스템관리</a></li>
						</ul>
					</div>
				</div>
				
				<ul class="gnb">
					<li>
						<div class="first-menu " >
							<a href="javascript:;"><span>보고서</span></a>
						</div>
						<ul class="sub-menu">
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
						</ul>
					</li>
					<li>
						<div class="first-menu">
							<a href="javascript:;"><span>내작업</span></a>
						</div>
						<ul class="sub-menu">
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
						</ul>
					</li>
					<li>
						<div class="first-menu">
							<a href="javascript:;"><span>진행 프로젝트</span></a>
						</div>
						<ul class="sub-menu">
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
						</ul>
					</li>
					<li>
						<div class="first-menu">
							<a href="javascript:;"><span>종료 프로젝트</span></a>
						</div>
						<ul class="sub-menu">
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
						</ul>
					</li>
					<li>
						<div class="first-menu">
							<a href="javascript:;"><span>시스템관리</span></a>
						</div>
						<ul class="sub-menu">
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
							<li><a href="#"><span>컨텐츠관리1</span></a></li>
						</ul>
					</li>
				</ul>

			</div>
		</div>		
	</aside>

	<!--//search_rm-->
	<!-- HEADER END -->




	<!-- contentWrap start -->
    <div id="wrapper">
		<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
		          <li class="active">
                        <a href="#"><i class="mnImg01"></i> <span class="nav-label">보고서</span> <span class="arrow01"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="#">내부서</a></li>
                            <li><a href="#">프로젝트별</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="mnImg02"></i> <span class="nav-label">내작업</span> <span class="arrow01"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">전체</a></li>
                            <li><a href="#">진행전</a></li>
                            <li><a href="#">진행중</a></li>
                            <li><a href="#">완료</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="mnImg03"></i> <span class="nav-label">진행 프로젝트</span> <span class="arrow01"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">IB 업무관리 시스템</a></li>
                            <li><a href="#">IB 항공 시스템</a></li>
                            <li><a href="#">IB 항공보안</a></li>
                        </ul>
                    </li>
					 <li>
                        <a href="#"><i class="mnImg04"></i> <span class="nav-label">종료 프로젝트</span> <span class="arrow01"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">2021년</a></li>
                            <li><a href="#">2020년</a></li>
                            <li><a href="#">2019년</a></li>
                        </ul>
                    </li>
					<li>
                        <a href="#"><i class="mnImg05"></i> <span class="nav-label">시스템관리</span> <span class="arrow01"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="#">사용자 관리</a></li>
                            <li><a href="#">프로젝트 관리</a></li>
                        </ul>
                    </li>					         
                </ul>

            </div>
        </nav>
		<!-- #gnb e -->
		
		<div id="page-wrapper">
			
			<h2 class="tit-level1">내작업</h2>

			<div class="subConView">			
				<div class="conWrap">
					<div class="sectionCon">

						<div class="board_top mainSearch">
							<div class="listSearch listSearchType01">								
								<div class="formInput">
									<div class="selects" style="width:300px">
										<select class="form-control" name="">
											<option value="" selected="">선택해 주세요</option>
											<option value="">타이틀</option>
											<option value="">타이틀</option>
										</select>
									</div>
								</div>
								<div class="formInput">
									<div class="selects" style="width:300px">
										<select class="form-control" name="">
											<option value="" selected="">선택해 주세요</option>
											<option value="">타이틀</option>
											<option value="">타이틀</option>
										</select>
									</div>
								</div>
							</div>
							<!-- 버튼 -->
							<div class="buttonGroup">
								<div class="BtnGroupR">										
									<a th:href="@{/task/register}" class="btn btn-info" title=""><i class="ti-plus"></i>&nbsp;&nbsp;새작업</a>
								</div>
							</div>
							<!-- 버튼 끝 -->
						</div>

						<div class="workStaion">
							<div class="workListArea">
								<div class="workList workBefore">
									<div class="workListWrap">
										<h3>진행 전<span>[[${beforeCnt}]]</span></h3>
									 <tr th:each="dto : ${beforeList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

								<div class="workList workIng">
									<div class="workListWrap">
										<h3>진행 중<span>[[${ingCnt}]]</span></h3>
									<tr th:each="dto : ${ingList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

								<div class="workList workEnd">
									<div class="workListWrap">
										<h3>완료<span>[[${endCnt}]]</span></h3>
										<tr th:each="dto : ${endList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

							</div>
						</div>

					</div>


				</div>
			</div>
			<!-- .main-section e -->
		</div>
		<!-- .container-inner e -->

       <!-- ============================== 몇번째 글이 등록되었는지 알림해주는 모달창 ==============================  -->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">글이 등록되었습니다.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<!-- toTop start -->
<div id="gototop">go to top</div>
<!--// toTop end -->
      <script th:inline="javascript">
            var msg = [[${msg}]]
            console.log(msg);

            if(msg){
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");
            $('.btn-search').click(function(e){
               searchForm.submit();
            });

            $('.btn-clear').click(function(e){
                searchForm.empty().submit();
            });
        </script>






<script src="../js/lib/loadAnimation.js"></script>



</body>
</html>
