<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<th:block th:replace="~{/layout/header :: setContent(~{this::content} )}">
 <th:block th:fragment="content">
			<div class="subConView">			
				<div class="conWrap">
					<div class="sectionCon">

						<div class="board_top mainSearch">
							<div class="listSearch listSearchType01">								
								<div class="formInput">
									<div class="selects" style="width:300px">
										<select class="form-control" name="">
											<option value="" selected="">선택해 주세요</option>
											<option value="">타이틀</option>
											<option value="">타이틀</option>
										</select>
									</div>
								</div>
								<div class="formInput">
									<div class="selects" style="width:300px">
										<select class="form-control" name="">
											<option value="" selected="">선택해 주세요</option>
											<option value="">타이틀</option>
											<option value="">타이틀</option>
										</select>
									</div>
								</div>
							</div>
							<!-- 버튼 -->
							<div class="buttonGroup">
								<div class="BtnGroupR">										
									<a th:href="@{/task/register}" class="btn btn-info" title=""><i class="ti-plus"></i>&nbsp;&nbsp;새작업</a>
								</div>
							</div>
							<!-- 버튼 끝 -->
						</div>

						<div class="workStaion">
							<div class="workListArea">
								<div class="workList workBefore">
									<div class="workListWrap">
										<h3>진행 전<span>[[${beforeCnt}]]</span></h3>
									 <tr th:each="dto : ${beforeList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

								<div class="workList workIng">
									<div class="workListWrap">
										<h3>진행 중<span>[[${ingCnt}]]</span></h3>
									<tr th:each="dto : ${ingList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

								<div class="workList workEnd">
									<div class="workListWrap">
										<h3>완료<span>[[${endCnt}]]</span></h3>
										<tr th:each="dto : ${endList}" >
										<div class="workListDetail">
											<div class="station">
												<div class="cate">IBS<span>  [[${dto.pid}]]</span></div>
												<a th:href="@{/task/read(id=${dto.tid})}">
												<h4>[[${dto.taskTitle}]]<span>[[${dto.tid}]]</span></h4>
												<div class="ingTxt">[[${dto.realProgress}]]<span>%</span></div>
												</a>
											</div>
										</div>
									</tr>
									</div>
								</div>

							</div>
						</div>

					</div>


				</div>
			</div>
			<!-- .main-section e -->
		</div>
		<!-- .container-inner e -->

       <!-- ============================== 몇번째 글이 등록되었는지 알림해주는 모달창 ==============================  -->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">글이 등록되었습니다.</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>


<!-- toTop start -->
<div id="gototop">go to top</div>
<!--// toTop end -->
      <script th:inline="javascript">
            var msg = [[${msg}]]
            console.log(msg);

            if(msg){
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");
            $('.btn-search').click(function(e){
               searchForm.submit();
            });

            $('.btn-clear').click(function(e){
                searchForm.empty().submit();
            });
        </script>






<script src="../js/lib/loadAnimation.js"></script>



</body>
</html>
