<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<th:block th:replace="~{/layout/header :: setContent(~{this::content} )}">
 <th:block th:fragment="content">

         <h2 class="tit-level1"> 
			새작업
         </h2>
        
        
         <div class="subConView">
         <form th:action="@{/task/modify}" th:method="post" id="actionForm" onsubmit="return onSubmitForm(this)" > 
            <!-- 메인 화면  -->
            		 <div class="col-md-6">
                        <div class="form-group">
                           <label class="control-label"><label class="star01">작업명</label></label>
                           <label><span id="name_counter">(0/50)</span></label>
                           <div class="formInput">
                           		<input type="hidden" name="tid" id="tid" th:value="${dto.tid}">
                              	<input type="text"  class="form-control" id="taskTitle"  th:value="${dto.taskTitle}" name="taskTitle" placeholder="작업명을 입력해 주세요." required="required">
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <div class="form-group">
                           <label class="control-label"><label class="star01">기간</label></label>
                           <div class="formInput">
                              <div id="dateStart" class="dateStart">
                                 <div class="input-group input-daterange date">
                                    <input class="form-control"  id="taskStartDate" th:value="${dto.taskStartDate}" name="taskStartDate" type="datetime-local" required="required">
                                    <div class="input-group-addon"> ~ </div>
                                    <input class="form-control"  id="taskEndDate" th:value="${dto.taskEndDate}" name="taskEndDate" type="datetime-local" required="required">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-1">
                        <div class="form-group">
                           <label class="control-label"><label class="star01">단계</label></label>
                           <div class="formInput">
                              <div class="selects">
                                 <select class="form-control"  id="statusCode" name="statusCode" th:value="${dto.statusCode}">
                                    <option th:selected="${dto.statusCode} =='진행전'" value="진행전">진행전</option>
                                    <option th:selected="${dto.statusCode}=='진행중'" value="진행중">진행중</option>
                                    <option th:selected="${dto.statusCode}=='완료'" value="완료">완료</option>
                                    <option th:selected="${dto.statusCode}=='중단'" value="중단">중단</option> 
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                      <div class="col-md-1">
                     		<div class="form-group">
                     		<label class="control-label"><label class="">진행률</label></label> 
                     			<div class="formInput">
			                          <div class="input-group unit">
		                                 <input type="number" class="form-control" min='0' max='100' step='5'  id="realProgress" name="realProgress" th:value="${dto.realProgress}">
		                                 <span class="input-group-addon">%</span>
			                          </div>   
		                      	</div>
		                  </div>
                     </div>
                     <div class="col-md-1">
                        <div class="form-group">
                              <div class="formInput text-center">
                              <label class="control-label"><label class="">보고서 포함</label></label>
                              <div class="formInput text-center">
                                    <input type="checkbox"  id="reportRegistFlag" name="reportRegistFlag" style="zoom:1.6;" value="1"  checked="checked"/>
                                 </div>
                           	   </div>
                          </div>
                     </div>
                     <div class="col-md-5">
                     	<label class="control-label mt-2"><label class="">관련 프로젝트</label></label>
                     	<select class="form-control" id="projectId" name="projectId" >
                     		<option value="1">기타</option>
                     	</select>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <label class="control-label"><label class="">업무 종류</label></label>
                           <div class="formInput">
                              <div class="selects">
                                 <select class="form-control"  id="taskType" name="taskType" th:value="${dto.taskType}">
                                    <option th:selected="${dto.taskType}=='개발'" value="개발"  >개발</option>
                                    <option th:selected="${dto.taskType}=='업무관리'" value="업무관리">업무관리</option>
                                    <option th:selected="${dto.taskType}=='제안'" value="제안">제안</option>
                                    <option th:selected="${dto.taskType}=='기타'" value="기타">기타</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <label class="control-label"><label class="">상세 업무</label></label>
                           <div class="formInput">
                              <div class="selects">
                                 <select class="form-control" id="detailedTaskType" name="detailedTaskType" th:value="${dto.detailedTaskType}">
                                    <option th:selected="${dto.detailedTaskType}=='개발'" value="개발">개발</option>
                                    <option th:selected="${dto.detailedTaskType}=='버그수정'" value="버그수정">버그수정</option>
                                    <option th:selected="${dto.detailedTaskType}=='미팅'" value="미팅">미팅</option>
                                    <option th:selected="${dto.detailedTaskType}=='보고'" value="보고">보고</option>
                                    <option th:selected="${dto.detailedTaskType}=='출장'" value="출장">출장</option>
                                    <option th:selected="${dto.detailedTaskType}=='산출물'" value="산출물">산출물</option>
                                    <option th:selected="${dto.detailedTaskType}=='테스트'" value="테스트">테스트</option>
                                    <option th:selected="${dto.detailedTaskType}=='작성'" value="작성">작성</option>
                                    <option th:selected="${dto.detailedTaskType}=='보완'" value="보완">보완</option>
                                    <option th:selected="${dto.detailedTaskType}=='사업관리'" value="사업관리">사업관리</option>
                                    <option th:selected="${dto.detailedTaskType}=='신규개발'" value="신규개발">신규개발</option>
                                    <option th:selected="${dto.detailedTaskType}=='신규(분석)'" value="신규(분석)">신규(분석)</option>
                                    <option th:selected="${dto.detailedTaskType}=='신규(설계)'" value="신규(설계)">신규(설계)</option>
                                    <option th:selected="${dto.detailedTaskType}=='자기계발'" value="자기계발">자기계발</option>
                                    <option th:selected="${dto.detailedTaskType}=='건강검진'" value="건강검진">건강검진</option>
                                    <option th:selected="${dto.detailedTaskType}=='휴가'" value="휴가">휴가</option>
                                    <option th:selected="${dto.detailedTaskType}=='기타'" value="기타">기타</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <label class="control-label"><label class="">업무 구분</label></label>
                           <div class="formInput">
                              <div class="selects">
                                 <select class="form-control"
                                    id="divisionOfTask" name="divisionOfTask" th:value=${dto.divisionOfTask}>
                                    <option th:selected="${dto.divisionOfTask}=='주 업무'" value="주 업무">주 업무</option>
                                    <option th:selected="${dto.divisionOfTask}=='지원 업무'" value="지원 업무">지원 업무</option>
                                 </select>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12" style="margin-top: 10px;">
                        <div class="form-group form-group-block">
                           <label class="control-label"><label class="">작업 내용</label></label>
                           <label><span id="contents_counter">(0/1000)</span></label>
                           <div class="formInput">
                              <textarea class="form-control" placeholder="내용을 입력해 주세요." rows="5" name="taskContents" id="taskContents" th:value="${dto.taskContents}">[[${dto.taskContents}]]</textarea>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12" style="margin-top: 10px;">
                        <div class="form-group form-group-block">
                           <label class="control-label"><label class="">비고</label></label>
                           <label><span id="contents_comment">(0/100)</span></label>
                           <div class="formInput">
                              <textarea class="form-control" placeholder="비고를 입력해 주세요." rows="2" name="remarks" id="remarks">[[${dto.remarks}]]</textarea>
                           </div>
                        </div>
                     </div>
                     
                     <div class="col-md-12 btnArea text-right">
                 <button type="submit" class="btn btn-primary" id="save" onclick="saveBtn()">저장</button> 
                 <button type="button" class="btn btn-primary" id="delete" onclick="deleteBtn()">삭제</button>
                     </div>
                      </form>
                  </div>
                  
                       <!-- 하위작업  -->
                     <div class="col-md-12" style="margin-top: 10px;">
                         <details open id="dt">
                        <summary>
                             <h5 style="margin-bottom: 15px;">하위 작업
                            	<button class="btn btn-info" onclick="onAddSubJob();"> + 하위 작업 추가</button>
                            </h5>
                        </summary>
                        
                        <div id="subjob-list">
                        </div>
                        </details>
                       </div>
                  
                  
    </th:block>
</th:block>

<!-- toTop start -->
<div id="gototop">go to top</div>
<!--// toTop end -->
<script type="text/javascript" th:inline="javascript" charset="utf-8" th:src="@{../js/subtask.js}"></script>
<script th:inline="javascript">
Count = 0;
var data = [[${dto}]]
console.log(data.subTaskDTOList.length);
if(data.subTaskDTOList.length>0){
	onAddExistSubJob(data.subTaskDTOList);
}

function onAddExistSubJob(input) {
	var detail = document.getElementById('dt');
   	if(detail.open === false) {
   		detail.open = true;
   	}
   	
    var subjobList = document.getElementById("subjob-list");
	var str ="";
	for(var i= 0; i<input.length; i++){
		

 	var newTag = document.createElement('div');
 	newTag.setAttribute("id","sub"+Count);
 	newTag.setAttribute("class","subjob");
 		str+='<div class="col-md-7">'
 		str+=' <label class="control-label"><label class="star01">하위작업명</label></label>'
 		str+=' <label><span></span></label>'
 		str+='  <div class="form-group"> '
 		str+=' <div class="formInput">'
 		str+=' <input type="text" maxlength="50"  name="subTitle" id="subTitle" class="form-control" value='+input[i].subTitle+' placeholder="50자 이내로 입력해주세요."/>'
 		str+=' </div>'
 		str+='  </div>'
 		str+='  </div>'
 		str+='<div class="col-md-3">'
 		str+='<label class="control-label"><label class="star01">하위작업 기간</label></label>'
 		str+='<div class="form-group">'
 		str+='<div class="formInput">'
 		str+=' <div id="dateStart" class="dateStart">'
 		str+='   <div class="input-group input-daterange date">'
 		str+='  <input class="form-control date" type="datetime-local" name="subStartDate" id="subStartDate" value='+input[i].subStartDate+' required="required" >'
 		str+='  <div class="input-group-addon"> ~ </div>'
 		str+='  <input class="form-control date" type="datetime-local"  name="subEndDate" id="subEndDate" value='+input[i].subEndDate+' required="required" >'
		str+=' </div>'
 		str+=' </div>'
		str+='</div>'
		str+='</div>'
		str+='</div>'
		str+='<div class="col-md-1">'
 		str+=' <label class="control-label"><label class="">진행률</label></label>'
 		str+=' <div class="formInput text-center">'
 		str+='  <div class="input-group unit">'
		str+='<input type="text" class="form-control" id="sub_real_progress" id="subRealProgress" name="subRealProgress"  value="'+input[i].subRealProgress+'"/>'
 		str+=' <span class="input-group-addon">%</span>'
 		str+=' </div>'
 		str+=' </div>'
 		str+='</div>'
 		str+='</div>'
		 str+='<div class="col-md-1 text-center">'

		str+='<div class="form-group">'
 		str+='<label class="control-label"><label class="">보고서 포함</label></label>'
 		str+='<div class="formInput">'
 		str+='<input type="checkbox" name="subReportRegistFlag" id="subReportRegistFlag" value="0" style="zoom:1.6;"/>'
 		str+='</div>'
 		str+='</div>'
 		str+='</div>'
 		str+='<div class="col-md-11">'
 		str+='<label class="control-label"><label class="">하위작업 내용</label></label>'
 		str+='<label><span id="contents_counter/>"></span></label>'
		str+='<div class="form-group form-group-block">'
		str+='<div class="formInput">'
		str+='<textarea class="form-control" maxlength="1000" rows="4" name="subContents" id="subContents" placeholder="1000자 이내로 입력해 주세요.">'+input[i].subContents+'</textarea>'
		str+= '</div>'
		str+='</div>'
		str+='</div>'
 		str+='<div class="col-md-1 text-center">'
	 	str+='<input class="btn btn-info" type="submit" value="하위작업 삭제" onclick="onDeleteSubjob('+Count+');" style="margin-top: 40px;"/>'
 		str+='</div>' ;
 
 		newTag.innerHTML = str;
 	subjobList.appendChild(newTag);
 	Count++;
	}	
  }















//하위작업 추가============================================================

function onAddSubJob() {
	var detail = document.getElementById('dt');
   	if(detail.open === false) {
   		detail.open = true;
   	}
   	
    var subjobList = document.getElementById("subjob-list");
	var str ="";
 	var newTag = document.createElement('div');
 	newTag.setAttribute("id","sub"+Count);
 	newTag.setAttribute("class","subjob");
 		str+='<div class="col-md-7">'
 		str+=' <label class="control-label"><label class="star01">하위작업명</label></label>'
 		str+=' <label><span></span></label>'
 		str+='  <div class="form-group"> '
 		str+=' <div class="formInput">'
 		str+=' <input type="text" maxlength="50"  name="subTitle" id="subTitle" class="form-control"  placeholder="50자 이내로 입력해주세요."/>'
 		str+=' </div>'
 		str+='  </div>'
 		str+='  </div>'
 		str+='<div class="col-md-3">'
 		str+='<label class="control-label"><label class="star01">하위작업 기간</label></label>'
 		str+='<div class="form-group">'
 		str+='<div class="formInput">'
 		str+=' <div id="dateStart" class="dateStart">'
 		str+='   <div class="input-group input-daterange date">'
 		str+='  <input class="form-control date" type="datetime-local" name="subStartDate" id="subStartDate" required="required" >'
 		str+='  <div class="input-group-addon"> ~ </div>'
 		str+='  <input class="form-control date" type="datetime-local"  name="subEndDate" id="subEndDate" required="required" >'
		str+=' </div>'
 		str+=' </div>'
		str+='</div>'
		str+='</div>'
		str+='</div>'
		str+='<div class="col-md-1">'
 		str+=' <label class="control-label"><label class="">진행률</label></label>'
 		str+=' <div class="formInput text-center">'
 		str+='  <div class="input-group unit">'
		str+='<input type="text" class="form-control" id="sub_real_progress" id="subRealProgress" name="subRealProgress"  value="0"/>'
 		str+=' <span class="input-group-addon">%</span>'
 		str+=' </div>'
 		str+=' </div>'
 		str+='</div>'
 		str+='</div>'
		 str+='<div class="col-md-1 text-center">'

		str+='<div class="form-group">'
 		str+='<label class="control-label"><label class="">보고서 포함</label></label>'
 		str+='<div class="formInput">'
 		str+='<input type="checkbox" name="subReportRegistFlag" id="subReportRegistFlag" value="0" style="zoom:1.6;"/>'
 		str+='</div>'
 		str+='</div>'
 		str+='</div>'
 		str+='<div class="col-md-11">'
 		str+='<label class="control-label"><label class="">하위작업 내용</label></label>'
 		str+='<label><span id="contents_counter/>"></span></label>'
		str+='<div class="form-group form-group-block">'
		str+='<div class="formInput">'
		str+='<textarea class="form-control" maxlength="1000" rows="4" name="subContents" id="subContents" placeholder="1000자 이내로 입력해 주세요."></textarea>'
		str+= '</div>'
		str+='</div>'
		str+='</div>'
 		str+='<div class="col-md-1 text-center">'
	 	str+='<input class="btn btn-info" type="submit" value="하위작업 삭제" onclick="onDeleteSubjob('+Count+');" style="margin-top: 40px;"/>'
 		str+='</div>' ;
 
 		newTag.innerHTML = str;
 	subjobList.appendChild(newTag);
 	Count++;
  }

//하위작업 삭제=========================================================
  function onDeleteSubjob(Count) {

    var id = "sub"+Count;
	 var target = document.getElementById(id);
	 target.remove();
  }





//[시작일], [종료일]의 Default는 현재 시간 =====================================================	
	
//저장전 유효성 체크
function saveBtn(){
	event.preventDefault();
	
    var btn = document.getElementById('save');
    
    btn.addEventListener("click", () =>{
    	event.preventDefault();
    	
        var savedReportFlag = document.getElementById('reportRegistFlag').checked;
        
        if(savedReportFlag){
        	document.getElementById('reportRegistFlag').value=1;
        }else{
        	document.getElementById('reportRegistFlag').value=0;
        }
        
        var subjobDOM = document.querySelectorAll(".subjob");
        
      //하위작업이 없으면? 본문+하위작업 같이 보낸다.
       if(subjobDOM.length>0){
        
        var tid = document.getElementById('tid').value;
        var subTitle = document.getElementById('subTitle').value;
        var subContents = document.getElementById('subContents').value;
        var subStartDate = document.getElementById('subStartDate').value;
        var subEndDate = document.getElementById('subEndDate').value;
        var subRealProgress = document.getElementById('subRealProgress');
        var subReportRegistFlag = document.getElementById('subReportRegistFlag').value;
        
		var data = {tid: tid, subTitle: subTitle , subContents: subContents , subStartDate: subStartDate , subEndDate: subEndDate ,
				subRealProgress: subRealProgress , subReportRegistFlag: subReportRegistFlag }		
        $.ajax({
            url: '/subtask/'+tid,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (result){
                console.log(result);
                self.location.reload();
            }
        }); 
       }
       //하위작업이 없으면? 본문만 보낸다
       else{
    	   
       }
        
     });
}

function deleteBtn(){
	event.preventDefault();
	
	var form = document.getElementById('actionForm');
	form.action="/task/remove";
	form.submit();
}

document.addEventListener("DOMContentLoaded", function(){
//'저장' 이벤트 발생=========================================================================	
	//saveBtn();
	

	
	

}); // End DOMContentLoaded
</script>

<script src="../js/lib/loadAnimation.js"></script>



</body>
</html>
